/* sezione generale */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: ;
    /*debug  */
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    
}


/* proprietà generali dei selettori */
h3,h4,h6,i,p,div{
  color: white;
}

.list hr{
  color: #a19e9e;
}


  
i{
  padding-right: 10px;
  display: inline-block;
}
  a:hover {
    color: white;
    text-decoration: none;
  }

  /* LOGO Spotify ed item BARRA LEFT */

  .logo{
    object-fit: cover;
    width: 50px;
    vertical-align: middle;
  }

  .box-logo {
  display: flex;
  align-items: center; 
  margin-right: 15px;
  padding-bottom: 20px;
}

.heading {
  font-size: 1.2em;
  margin-right: 5em;
  padding: 5px;
  
}

/* INIZIO SEZIONE LIST ITEM " HOME , SEARCH ECC */


.left ul {
  list-style-type: none;
  text-align: left;
   
}

.left a{
  text-decoration: none;
  color:grey;
  
}



/* REGOLE IMG */
 .list-item a img{
  object-fit: cover;
  width: 10%;
  
}

.list-item {
  margin-bottom: 10px;
  font-size:x-small;
  
  color:grey;
  
}

/* SEZIONE PLAY LIST */
.playlist li{
  padding-bottom: 10px;
  font-size: 12px;
}

.playlist  a{
  color:grey;
}

.playlist .txt a{
  color: white;
  font-weight: bold;
}

.fa-square-plus{
  font-size: 35px;
  color: #a19e9e;
}

/* loghi footer bar sinistra */

.logo-download, .logo-profile{
  object-fit: cover;
  width: 30px;
 
}

.circular .logo-profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a19e9e;
}



.footerbarra .list-item{
display: flex;
align-items: center; 

}




/* SEZIONE GENERALE CONTENUTI SINISTRA E DESTRA */

.container {
  display: flex;
  height: 100vh; 
  width: 100%;
}

.left {
  width: 200px;
  /* debug */
  background-color: #020000; 
  padding: 10px; 
}

.right {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  /* debug */
  
  padding: 10px; 
}

.col {
  flex: 1 1 100%; 
  min-height: 100px; 
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* debug */
  text-align: center;
  background-color: #a19e9e;
}

.left, .col-player {
  height: calc(100vh - 200px);
}

/* SEZIONE TOP BAR UPGRADE */
.col-upgrade{
  position: fixed;
  z-index: 1;
  width: calc(100% - 210px);
  text-align: right;
  
  }

/* SEZIONE PLAYER IN BASSO */
  .col-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

